h1 {
	color:orangered;
}


#under {
	background-color: slategray;
	color: white;
	background-color:white;
	color:#222222;
	
	padding: 15px;
	position: sticky;
	position: -webkit-sticky;
	top: 1px;
	z-index: -5;

	background: black;
	color: white;
}

#between {
	background-color: white;
	border-width: 10px 0px 0px 0px;
	border-color: blue;
	border-style: solid;
	color: #222222;
	padding: 15px;
	position: sticky;
	position: -webkit-sticky;
	top: 1px;

	z-index: -1;
}



#over {
	position: relative;
	padding: 15px;
	border-width: 10px 0px 0px 0px;
	border-color: red;
	border-style: solid;
	color: #383838;
	background-color: white;
	z-index: 100;
}